#header {
  font-family: 'Montserrat', sans-serif;
}

#title {
  font-weight: 600;
  font-style:normal;
  font-size: 30px;
  color: #6AE368;
  margin-top: 10%;
}

#icon {
   height: 40px;
   width: 40px;
   position: center;
   margin-top: 35%;
   text-align:middle;
}

.icon-container {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  min-height: 80px;
  margin-bottom: -40%;
  margin-top: 20%;
}

.icon-container i {
  font-size: 35px;
  transition: all .5s ease-in-out;
}


.icon-container a:hover i {
  transform: scale(0.8);
}

.icon-container a {
  color: #777;
  margin-right: 40px;
}

.icon-container a:hover {
  text-decoration: none;
  color: black;
}

.icon-container a:hover #hidden {
  display:block;
}

.icon-container span {
  position: relative;
}

#hidden {
  display: None;
}

#btn-related {
  margin-top: 10%;
}

@font-face { font-family: VCR; src: url('VCR_OSD_MONO_1.001.ttf'); }

body {
  margin: 0;
  font-family: 'VCR', sans-serif;
  font-weight: 300;
}

h1 {
  color: black;
  padding: 15% 0;
  text-align: center;
  margin: 0;
}

.description {
  color: black;
  text-align: center;
  margin-bottom:10%;
}

h3 {
  color: black;
  padding: 5% 0;
  text-align: center;
  margin: 0;
}

.btn-default:hover {
  background: #e7e0e1;
  transition: all .5s ease-in-out;  
}

.btn-default {
  background-color: #A17544;
  transition: all .3s ease-in-out;  
}


#progressbar {
  width: 10%;
  height: 30px;
  background-color: #7F8C83;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 20px; /* To center it vertically */
  color: white;
}

.map-container{
  display:inline-block;
  position:relative;
  }